.ta-c {
	text-align: center;
}
.container {
	width: 920px;
	margin: 0 auto;
}
.pic-list {
	margin-top: 20px;
}
.pic-list img {
	max-width: 200px;
	max-height: 200px;
	margin: 0 10px;
}

.pe-box {
	margin-top: 20px;
	position: relative;	
}
.pe-box .bar {
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	border: 2px solid #ccc;
	background-color: #eee;
	display: none;
}
.ret {
	position: relative;
	width: 640px;
	height: 420px;
	background-color: #666;
	margin: 0 auto;
}
#canvas {
	position: relative;
	z-index: 2;
	display: none;
}
#bg {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	/*background: #eee;*/
}
#outputCanvas {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
}

.btn {
	display: inline-block;
	padding: 6px 20px;
	background: #f60;
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
}
.btn:hover {
	opacity: 0.8;
}

.loading-box {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 50%;
	left: 50%;
	display: none;
	left: 0;
	top: 0;
	z-index: 999;
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-left: 15px;
	z-index: 1000;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #f60;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}